.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/application/config/config.php
/packaged/javascript/core/ab-engine.js
/application/config/database.php
